.App {
  text-align: center;
  margin: 1rem;
  padding-top: 11rem;
}

.dropdown {
  width:25%;
  margin: 1.5rem 0.5rem 0rem 0;
  display: inline-block;
}

button {
  background-color: #FCA311;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  height: 2.2rem;
  margin: 2rem 0 2rem 0;
  width: 7rem;
  text-align: center;
  font-size: 14px;
  box-shadow:1px 1px 5px #14213D;
  border-style: none;
  color: white;
}

.selection_box {
  background-color: #E5E5E5;
  border-radius: 1rem;
  width: 90%;
  margin: auto;
}

.header  {
  background-color: #14213D;
  height: 11rem;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  height: 11rem;
  width: 11rem;
  background-color: #FCA311;
  margin: 0 0 0 10px;
  display: inline-box;
  float: left;
}

div [name=semester] {
  margin-top: 1rem;
}

.boxes {
  width: 90%;
  height: 100rem;
  margin: 2rem auto 0 auto;
}

.box {
  background-color: #14213D;
  height: 7rem;
  width: 15rem;
  margin: 10px auto; 
  color: white;
  font-size: 18px;
  border-radius: 1.5rem;
  padding-top: 1rem;
}

.top_textbox {
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  font-size: larger;
}

.modal_text {
  margin: 1rem;
}

.header_text {
  display: inline-block;
  color: white;
  font-size: 60px;
  padding-right: 11vw;
  margin-top: 0;
  line-height: 11rem;
  vertical-align: middle;
}

.modal_text_course_name {
  color: #14213D;
  font-size: x-large;
  margin: auto;
  text-align: center;
  max-width: 250;
  width: auto;
}

.modal_text {
  margin: 1.5rem auto;
  text-align: center;
  font-size: large;
  max-width: 250;
  width: auto;
}

.modal_text_description {
  margin: 1.5rem auto;
  text-align: center;
  font-size: large;
  height: auto;
  max-width: 250;
  width: auto;
}